@{
    ViewData["Page Title"] = "About Me";
    ViewData["Page Carousel Title"] = "Author Page";
    ViewData["Page Carousel Body First Paragraph"] = "";
    ViewData["Page Carousel Body Second Paragraph"] = "";
    ViewData["Page Carousel Image"] = "/img/carousel-img/casino_from_top.jpeg";
    ViewData["Page Carousel ImageAlt"] = "who am I?";
    ViewData["Author Carousel Body First Paragraph"] = "Here there's no much more magic than a simple razor coding.";
    ViewData["Author Carousel Body Second Paragraph"] = "";
    ViewData["Author Carousel Image"] = "/img/carousel-img/author-img1.jpeg";
    ViewData["Author Carousel ImageAlt"] = "begining";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's author info.</p>
